
  *, .MuiTypography-h6 {
    font-family: Tondo;
  }
  .ListingImages{
      background: #9b96a0;
      width: 58px;
      height: 56px;
      text-align: center;
      font-size: 37px;
      font-weight: 300;
      cursor: pointer;
    }

  .imagebox {
    border:"1px solid black"; 
    /* background: gray; */

  }
  .react-spinner-material{
    margin-left: 46% !important;
  }
  .MuiFormControl-marginNormal{
    margin-top: 0px !important;
  }
  .MuiFormControlLabel-label {
    font-size: 13px !important;
    /* font-style: italic; */
  }
  .GridTopSpaceing{
    padding-top: 5px;
  }
    
  .MuiInputLabel-root { 
    display: inline !important;

  }

  .previewContainer { 
    height: 200px;
    position: relative;
    border: 3px solid green; 
    background: lightgray;
  }
  
  .preview-vertical-center {
    margin: 0;
    text-align: center;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
   
  }


  .makeStyles-content-10{
  padding: 0;
  }
  
  figure {
    width: 100%;
    background-repeat: no-repeat;
  }
  
  figure:hover img {
    opacity: 0;
  }
  
  /* .img {
   
    flex-direction: column;
    width: 100%;
    pointer-events: none;
  } */
  /* subgrid  inline-flex; */
    /* sticky  relative */

.sc-bdVaJa {
  opacity: 0.9;
  transform: rotateZ(270deg); 
  margin: 72px 120px 0px 586px;
  display: inline-flex;
  position: relative !important;
  margin-top: 75px;
}

.pan-container {
  margin-top: -122px;
}


.sc-bdVaJa div svg:nth-child(1) {
  transform: rotateZ(90deg);
}

.sc-bdVaJa div svg:nth-child(3) {
  transform: rotateZ(0deg);
}
  
